 
# Loopback interface
auto lo
iface lo inet loopback

# Management Network (vmbr0)
auto {{ network_bridges[0].name }}
iface {{ network_bridges[0].name }} inet static
    address {{ network_bridges[0].address }}
    netmask {{ network_bridges[0].netmask }}
    gateway {{ network_bridges[0].gateway }}
    bridge_ports {{ network_bridges[0].interface }}
    bridge_stp off
    bridge_fd 0
    # {{ network_bridges[0].comments }}

# Private Network (vmbr1)
auto {{ network_bridges[1].name }}
iface {{ network_bridges[1].name }} inet static
    address {{ network_bridges[1].address }}
    netmask {{ network_bridges[1].netmask }}
    bridge_ports {{ network_bridges[1].interface }}
    bridge_stp off
    bridge_fd 0
    # {{ network_bridges[1].comments }}

